body {
    /* Visual */
    /* background-image: url("https://res.cloudinary.com/katedorse/image/upload/v1604031055/subtle-pattern-7_x25xd4.jpg"); */
  background-repeat: no repeat;
  /* background-color: #ECEAEA; */
  /* background-color: #c9e5f0; */
  /* background-color: #dceff5; */
  background-color:
  #dff1f7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    }
